<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>877976066846-pqn4rvp4japo9gksgvm6lvtav626ga9d.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.877976066846-pqn4rvp4japo9gksgvm6lvtav626ga9d</string>
	<key>API_KEY</key>
	<string>AIzaSyC--dB1pOfBJfeWBCp9JlEy9S6q_k1my0I</string>
	<key>GCM_SENDER_ID</key>
	<string>877976066846</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.kyou.flutterKyouApp</string>
	<key>PROJECT_ID</key>
	<string>flutterkyouapp</string>
	<key>STORAGE_BUCKET</key>
	<string>flutterkyouapp.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:877976066846:ios:591214ebe21b1e11cd470f</string>
	<key>DATABASE_URL</key>
	<string>https://flutterkyouapp.firebaseio.com</string>
</dict>
</plist>